.App {
  text-align: center;
}

.Container-1{
  margin-top: 50px;
  margin-left: 0;
  margin: auto;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}

.Box-1 {
  width: fit-content; 
  margin: 0 auto;    
  border: 2px dashed #555;
  padding: 0;         
  border-radius: 5px;
}
.board-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.square {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #555;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0;
}

.square:focus {
  outline: none;
  border: 3px solid #000;
}
.square:hover {
  background-color: #f0f0f0;
}